
main{
    display: flex;
    justify-content: center;
    margin-top: 5vh;
    align-items: center;
    /* width: 1200px; */
    height: 600px;
    margin: 0 auto; 
    padding-top: 15rem;
    animation: bounce 3s ease infinite;
}

/* Hero */
.hero{
    display: flex;
    flex-direction: column;
    
}

.hero h1{
    font-size: 2em;
}

.hero__title img{
    width: 20px;
    height: 20px;
    margin-top: 4rem;
}

.hero__paragraph{
   color:var(--gris-clarito);
   margin-top: 2rem;
   width: 76%;
   font-size: 1em;
}  

.hero__buttons{
    display: flex;
    align-items: baseline;
    gap:2rem;
}

.hero__buttons--curriculum{       
    padding: .3rem 1.5rem;
    margin-top: 2rem;
    border-radius: 1rem;
    background-color: var(--azuloscuro);
    font-weight: 1000;
    color: var(--light-font-solid); 
    cursor: pointer;
}
   
.hero__buttons--curriculum img{
    width: 14px;
    height: 14px;  
}

.hero__buttons--proyectos{
    color: var(--negro);
    font-weight: 700;
    border-radius: 1rem;
    text-align: revert-layer;
    padding: .4rem 1.5rem;
    background-color: var(--light-font-solid);
    cursor: pointer;
}

.hero__buttons--proyectos a{
    text-decoration: none;
    color: var(--negro);
}

.hero__buttons--proyectos img{
    width: 14px;
    height: 7px;  
}

.hero__imgFoto{
    width: 300px;
    height: 260px;
    margin-top: 1rem;
    text-align: center;
    /* mix-blend-mode: multiply; */
}
/* ------------------------------------------------------------------------------------------------------------------------- */
/* About */
.about__section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0rem;
    width: 100%;
    height: 600px;
}

.about__section--title img{
    width: 5px;
}

.about__section--paragraph{
    max-width: 1200px;
    width: 100%;
    padding: 4rem;
    text-align: left;
    margin-top: 1rem;
    color: var(--gris-clarito);
}

 
 




 