
main{
    display: flex;
    justify-content: center;
    margin-top: 5vh;
    align-items: center;
    /* width: 1200px; */
    height: 600px;
    margin: 0 auto; 
    padding-top: 15rem;
    animation: bounce 3s ease infinite;
}

/* Hero */
.hero{
    display: flex;
    flex-direction: column;
    
}

.hero h1{
    font-size: 2em;
}

.hero_title img{
    width: 20px;
    height: 20px;
    margin-top: 4rem;
}

.hero_paragraph{
   color:var(--gris-clarito);
   margin-top: 2rem;
   width: 76%;
   font-size: 1em;
}  

.hero_buttons{
    display: flex;
    align-items: baseline;
    gap:2rem;
}

.hero_button-curriculum{       
    padding: .3rem 1.5rem;
    margin-top: 2rem;
    border-radius: 1rem;
    background-color: var(--azuloscuro);
    font-weight: 1000;
    color: var(--light-font-solid); 
    cursor: pointer;
}
   
.hero_button-curriculum img{
    width: 14px;
    height: 14px;  
}

.hero_button-proyectos{
    color: var(--negro);
    font-weight: 700;
    border-radius: 1rem;
    text-align: revert-layer;
    padding: .4rem 1.5rem;
    background-color: var(--light-font-solid);
    cursor: pointer;
}

.hero_button-proyectos a{
    text-decoration: none;
    color: var(--negro);
}

.hero_button-proyectos img{
    width: 14px;
    height: 7px;  
}

.hero_imgFoto{
    width: 300px;
    height: 260px;
    margin-top: 1rem;
    text-align: center;
    /* mix-blend-mode: multiply; */
}

/* About */
.about{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    width: 100%;
    height: 600px;
}

.about_title img{
    width: 5px;
}

.about_paragraph{
    width: 975px;
    text-align: left;
    margin-top: 1rem;
    color: var(--gris-clarito);
}

/* .about_background{ */
    /* Gradients */
   /*  background: #abbaab; */  /* fallback for old browsers */
   /*  background: -webkit-linear-gradient(to bottom, #ffffff, #abbaab); */  /* Chrome 10-25, Safari 5.1-6 */
   /*  background: linear-gradient(to bottom, #ffffff, #abbaab);  *//* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    /*  animation: bounce 1s ease-out 1;
    animation: show 1s ease-out 1; */

/* } */





 