@import url("./hero.css");
@import url("./navbar.css");
@import url("./card.css");
@import url("./footer.css");
@import url("./contact.css");

:root{
    /* Font*/
    --alternative-font: "Raleway", sans-serif;
    
    /* Background-Color Navbar*/
    --negro: RGB(17, 17, 16); 
    /* Font-Color Navbar */
    --light-font-solid: #FFFFFF;
    
    /* Font-Color Hero */
    --gris-clarito:  #95A5A6 ;
    --azuloscuro: #34495E;
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
  font-family: var(--alternative-font);
}

/* Contenedor */
.container {
    margin: 0 auto;
}



/* Animaciones */
/* Rebote */
@keyframes bounce {
    from,
    20%,
    53%,
    to {
      -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
      animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
    }
  
    40%,
    43% {
      -webkit-animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
      animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
      -webkit-transform: translate3d(0, -30px, 0) scaleY(1.1);
      transform: translate3d(0, -30px, 0) scaleY(1.1);
    }
  
    70% {
      -webkit-animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
      animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
      -webkit-transform: translate3d(0, -15px, 0) scaleY(1.05);
      transform: translate3d(0, -15px, 0) scaleY(1.05);
    }
  
    80% {
      -webkit-transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
      transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
      -webkit-transform: translate3d(0, 0, 0) scaleY(0.95);
      transform: translate3d(0, 0, 0) scaleY(0.95);
    }
  
    90% {
      -webkit-transform: translate3d(0, -4px, 0) scaleY(1.02);
      transform: translate3d(0, -4px, 0) scaleY(1.02);
    }
  }
  .animate__bounce {
    -webkit-animation-name: bounce;
    animation-name: bounce;
    -webkit-transform-origin: center bottom;
    transform-origin: center bottom;
  }

  /* Media Query */
/* Dispositivos móviles pequeños (hasta 480px) y Dispositivos móviles medianos (481px a 767px) */
@media (min-width:344px) and (max-width: 768px){
  /* Header */
  .header__navbar ul{
    background: white;
    width: 100%;
    height: calc(100vh - 80px);
    position: absolute;
    top: 80px;
    left: 0;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    display: none;
  }

  .header__navbar i{
    display: block;
  }

  #header__navbar--toggleMenu:checked ~ .header__navbarMenu{
    display: flex;
  }

  /* Menú */
  
  main {
      display: flex;
      flex-direction: column;
      padding-left: 1rem;
  }

  .hero__imgFoto{
    max-width: 200px;
    width: 100%;
    height: 200px;
  }

  .hero__paragraph{
    max-width: 300px;
  }

  .about_background{
    margin-top: 6rem;
  }

  /* About */
  .about{
    max-width: 600px;
    font-size: 0.9em;
    text-align: center;
    padding: 1rem;
  }

  .about__section{
    margin-top: 15rem;
  }

  .about__section--paragraph{
    font-size: 1em;
    text-align: center;
  }

  .card{
    border-radius: 2rem;
    height: 400px;
  }

  .card__description--text {
    padding: 1rem;
  }
}

@media (min-width:768px) and (max-width: 1920px){
  main{
      display: flex;
      flex-direction: row;
      padding-left: 4rem;
  }

  .contact__section {
    flex-direction: row;
  }

  .contact__section--content, .contact__section--map {
    width: 100%;
    margin: 10px;
  }
} 